{{#paper-dialog fullscreen=fullscreen clickOutsideToClose=true onClose=(action "close") origin=dialogOrigin}}
  {{#paper-dialog-content}}
    <h2 class="md-title">Statistics: {{title}}</h2>
    
    <p>Total: 5</p>
    <p>Completed: 12</p>
    <p>Summary estimated time: 24h</p>
    <p>Summary remaining time: 5d</p>
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class="layout-row"}}
    <span class="flex"></span>
    {{#paper-button primary=true onClick=(action "close")}}Okay{{/paper-button}}
  {{/paper-dialog-actions}}
{{/paper-dialog}}
