$main-container-width: 1150px;
$header-height: 45px;

$soft-grey: #f1f1f1;
$general-background-color: #FAFAFA;
$white: #fff;
$black: #000;
$dark-orange: #DB4C3F;
$primary-blue: #3f51b5;
$light-blue: #2095F2;
$red: #ff0000;
$orange-red: #F68700;
$mint-green: #5CA793;

$medium-font-weight: 500;
