@import '../variables';

.header-wrapper {
  height: $header-height;
  background-color: $primary-blue;

  box-sizing: border-box;
  padding-left: 20px;

  .header-menu-icon {
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }
}
