@import '../variables';

.left-bar-wrapper {
  padding-top: 30px;
  padding-right: 20px;

  .left-bar-menu {
    .left-bar-filter-item-wrapper {
      list-style-type: none;
  
      .left-bar-filter-item {
        display: block;
        color: $black;
        text-decoration: none;
        margin-bottom: 4px;
        padding: 13px 15px;

        &.active {
          font-weight: $medium-font-weight;
          background-color: $white;
        }

        &:hover {
          background-color: $white;
        }
      }
      
      .left-bar-filter-item-icon {
        margin-left: 0;
        margin-right: 13px;
      }
    }

    .left-bar-group-item-wrapper {
      .left-bar-menu-group-item {
        min-height: 42px;
        display: block;
        box-sizing: border-box;

        color: $black;
        text-decoration: none;
        padding: 10px 15px;
        margin-bottom: 3px;

        &:hover {
          background-color: $white;
          border-bottom: 2px solid #e91e63;
        }

        &.active {
          font-weight: $medium-font-weight;
        }
      }

      .left-bar-group-item-add-new-form {
        padding-left: 15px;
        padding-right: 15px;
      }
      .left-bar-group-item-input {
        width: 100%;
        font-size: 15px;
        // padding: 10px;
        margin-bottom: 0;
      }
    }

    .left-bar-add-group {
      color: #DB4C3F; // TODO: change color according to design
      font-size: 15px;
      margin-top: 10px;
      cursor: pointer;
    }

    .left-bar-menu-tabs {
      margin-top: 20px;
    }
  } 
}
