@import '../variables';

.left-bar-wrapper {
  // max-height: 420px;
  // overflow-y: auto; TODO: Overflow

  padding-top: 30px;
  padding-right: 20px;

  .left-bar-menu {
    .left-bar-filter-item-wrapper {
      list-style-type: none;
  
      .left-bar-filter-item {
        display: block;
        color: $black;
        text-decoration: none;
        margin-bottom: 4px;
        padding: 13px 15px;

        &.active {
          font-weight: $medium-font-weight;
          background-color: $white;
        }

        &:hover {
          background-color: $white;
        }
      }
      
      .left-bar-filter-item-icon {
        margin-left: 0;
        margin-right: 13px;
      }
    }

    .left-bar-group-item-wrapper {
      min-height: 45px;

      .left-bar-menu-group-item {
        min-height: 42px;
        display: block;
        box-sizing: border-box;

        color: $black;
        text-decoration: none;
        padding: 10px 15px;
        margin-bottom: 3px;

        .left-bar-group-item-content {
          min-height: 25px;
        }

        &:hover {
          background-color: $white;
          border-bottom: 2px solid #e91e63;
        }

        &.active {
          background-color: $white;
          border-bottom: 2px solid #e91e63;
          font-weight: $medium-font-weight;
        }

        .left-bar-group-item-action-buttons {
          .left-bar-group-item-edit-icon-wrapper, .left-bar-group-item-delete-icon-wrapper {
            display: none;

            .left-bar-group-item-edit-icon, .left-bar-group-item-delete-icon {
              &:hover {
                color: $black;
              }
            }
          }

          .left-bar-group-item-edit-icon-wrapper {
            margin-right: 5px;
          }
        }
      }

      .left-bar-group-item-form {
        padding-left: 15px;
        padding-right: 15px;
      }

      .left-bar-group-item-input {
        width: 100%;
        font-size: 15px;
        margin-bottom: 0;
      }

      &:hover {
        .left-bar-group-item-action-buttons { 
          .left-bar-group-item-edit-icon-wrapper, .left-bar-group-item-delete-icon-wrapper {
            display: block;
          }
        }
      }
    }

    .left-bar-add-group-button {
      color: $dark-orange;
      font-size: 15px;
      cursor: pointer;

      margin-top: 15px;
      margin-bottom: 15px;
    }

    .left-bar-menu-tabs {
      margin-top: 20px;
    }
  } 
}
