@import '../variables';

.task-board-wrapper {
  min-height: calc(100vh - #{$header-height});
  background-color: $white;

  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;

  border-right: 1px solid $soft-grey;
  border-left: 1px solid $soft-grey;

  .task-board-title {
    margin-bottom: 10px;
  }

  .task-board-add-task-button {
    color: $primary-blue;
    cursor: pointer;

    margin-top: 20px;
    padding-left: 10px;
  }
}
