@import '../variables';

.task-board-wrapper {
  min-height: calc(100vh - #{$header-height});
  background-color: $white;

  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;

  border-right: 1px solid $soft-grey;
  border-left: 1px solid $soft-grey;

  .task-board-add-task-button {
    color: $dark-orange;
    margin-top: 20px;
    cursor: pointer;
  }
}
