@import '../variables';

.task-overview-wrapper {
  @extend .task-board-wrapper;
  padding-bottom: 50px;

  min-height: 500px;
  border-bottom: 1px solid $soft-grey;

  .task-list-item-wrapper {
    width: 80%;

    .task-list-item-content {
      &.task-overview-item {
        padding-left: 15px;
        font-size: 17px;
        border-bottom: none;
      }
    }
  }

  
  
  .task-overview-completed {
    margin-top: 20px;
  }

  .task-overview-content-wrapper {
    padding-left: 20px;
    padding-bottom: 20px;

    .task-overview-time-tracking-title {
      margin-bottom: 10px;
    }

    .task-overview-subtask-list {
      .task-list-item-wrapper {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  

  .task-overview-add-subtask-button {
    @extend .task-board-add-task-button
  }
}
