@import '../variables';

.dashboard-wrapper {
  min-height: 100vh;
  background-color: $generalBackgroundColor;

  .dashboard-container {
    // width: 75%;
    width: 1150px;
    height: calc(100% - #{$headerHeight})
  }
}
