@import '../variables';

.dashboard-wrapper {
  min-height: 100vh;
  background-color: $general-background-color;

  .dashboard-container {
    width: $main-container-width;
    height: calc(100% - #{$header-height})
  }
}
