@import '../variables';

.task-board-wrapper {
  min-height: calc(100vh - #{$headerHeight});
  background-color: $white;

  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;

  border-right: 1px solid $softGrey;
  border-left: 1px solid $softGrey;

  .task-board-add-task {
    color: #DB4C3F; // TODO: change color according to design
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
}
