{{header-bar onMenu=(action (mut menuOpened) (not menuOpened))}}

<div class="dashboard-wrapper">
  <div class="dashboard-container layout-row margin-auto">
    <div class=" layout-row hide-xs hide-sm flex-25">
      {{left-bar tasks=model.tasks groups=model.groups}}
    </div>

    {{#paper-sidenav-container class="inner-sidenav hide-gt-sm"}}
      {{#paper-sidenav
        class="md-whiteframe-z2 flex-sm-40"
        open=menuOpened
        onToggle=(action (mut menuOpened))}}
          {{#paper-toolbar as |toolbar|}}
            {{#paper-toolbar-tools}}Menu{{/paper-toolbar-tools}}
          {{/paper-toolbar}}
          {{#paper-content padding=true}}
            {{left-bar tasks=model.tasks groups=model.groups}}
          {{/paper-content}}
      {{/paper-sidenav}}
    {{/paper-sidenav-container}}
    {{outlet}}
  </div>
</div>
