<div class="dashboard-wrapper">
  {{header-bar}}
  <section class="dashboard-container margin-auto layout-row flex-50">
    {{!-- TODO: filters from index --}}
    {{left-bar}}
    {{outlet}}
  </section>
</div>
