<div class="dashboard-wrapper">
  {{header-bar}}
  <section class="dashboard-container margin-auto layout-row flex-md-85 flex-sm-90">
    {{left-bar groups=model.groups}}
    {{outlet}}
  </section>
</div>
