{{#link-to link title (qp-parser queryParams) tag=tagName class=className}}
  <div class="layout-row layout-align-start-center">
    {{#if icon}}
      {{paper-icon icon size=24 class="left-bar-filter-item-icon"}}
    {{/if}}
    {{title}}
  </div>
{{/link-to}}
